* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body,
img {
    margin: 0;
    padding: 0;
}

.row {
    margin: 50px 0;
    padding-left: 8%;
    padding-right: 8%;
}

.header-section {
    width: 100%;
    height: 30px;
    background-color: #000;
}

.header-wrap {
    display: flex;
    width: 100%;
    height: 30px;
    flex-flow: column wrap;
    align-content: flex-end;
    box-sizing: border-box;
    padding: 6px;
    font-size: 13px;
}

.header-wrap a {
    color: white;
    padding-left: 10px;
}

.header-wrap span {
    padding-left: 10px;
}

.header-wrap span {
    color: white;
    padding-right: 10px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 94%;
}


/*Navbar start*/

.navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
}

.logo-section {
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-section {
    width: 80%;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    flex: 1;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

nav ul li a:hover {
    color: #c97244;
}


/*Navbar End*/


/*Banner box start*/

.banner-boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #1f3797;
    height: 500px;
    position: relative;
}

.col-1 {
    position: absolute;
    width: 37%;
    height: 100%;
    background-color: #1f3797;
    justify-content: right;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
    z-index: 99;
}

.banner-content {
    float: right;
    width: 350px;
    padding-right: 8%;
}

.col-1 h2 {
    font-size: 45px;
    color: white;
}

.col-1 p {
    padding-top: 5px;
    padding-bottom: 30px;
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    line-height: 30px;
}

.col-1 button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    background-color: #1f3797;
    border: 1px solid #fff;
    position: relative;
}

.banner-btn::after {
    content: "→";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.col-2 {
    width: 100%;
    background-color: blueviolet;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.col-2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-boxes .container {
    height: 100%;
}

.about-boxes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.about-box-1 {
    width: 30%;
}

.about-box-1 h2 span {
    color: #0856a2;
    font-weight: 800;
    font-size: 30px;
    position: relative;
    border-bottom: 1px solid #0856a2;
}

.about-box-1 h2 span:before {
    content: '';
    position: absolute;
    width: 35%;
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: #0856a2;
}

.about-box-1 p {
    line-height: 49px;
    padding-top: 10px;
    font-size: 31px;
    font-weight: 900;
}

.about-box-2 {
    width: 70%;
}

.about-box-2 p {
    line-height: 25px;
    padding-top: 10px;
    color: #94999e;
}

.about-box-2 button {
    font-weight: 700;
    color: #0856a2;
    background-color: white;
    outline: none;
    cursor: pointer;
    border: none;
    padding-top: 20px;
    position: relative;
}

.department {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.department p {
    margin-top: 10px;
}

.department h2 {
    font-size: 26px;
    font-weight: 800;
}

.department-boxes {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.department-name {
    position: absolute;
    margin-top: -78px;
    margin-left: 40px
}

.department-name h3 {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}

.department-name a {
    text-decoration: none;
    color: #c0c4c8;
    position: relative;
}

.department-box {
    width: 49%;
    margin-top: 17px;
}

.announcement {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 28px;
}

.announcement p {
    margin-top: 10px;
}

.announcement h2 {
    font-size: 26px;
    font-weight: 800;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.announce-image {
    width: 23%;
}

.announce-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.announce-image.middle {
    width: 50%;
    position: relative;
}

.middle-content {
    position: absolute;
    height: 130px;
    width: 242px;
    background-color: #fff;
    padding: 18px;
    margin-left: 280px;
    top: 345px;
    margin-bottom: 50px;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(136, 136, 136, 0.78);
    -moz-box-shadow: 1px 1px 20px 1px rgba(136, 136, 136, 0.78);
    box-shadow: 1px 1px 20px 1px rgba(136, 136, 136, 0.78);
}

.middle-content h3 {
    color: #0856a2;
    font-weight: 700;
    font-size: 20px;
}

.middle-content p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.middle-btn {
    font-weight: 700;
    color: #0856a2;
    background-color: white;
    outline: none;
    cursor: pointer;
    border: none;
    padding-top: 10px;
    position: relative;
}

.middle-content span {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.event-calendar {
    max-width: 100%;
    height: 750px;
    text-align: center;
    background-color: #3d348d;
    margin-top: 151px;
}

.event-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event-calendar h2 {
    font-size: 35px;
    font-weight: 800;
    color: white;
    padding: 45px;
}

.event-btn {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    cursor: pointer;
    background-color: #3d348d;
    border: 1px solid #fff;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
}

.event-btn::after {
    content: "→";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.event-box-1 {
    width: 40%;
    padding-right: 3%;
}

.event-box-2 {
    width: 55%;
    position: relative;
    padding-bottom: 40px;
}

.event-box-2 p {
    line-height: 30px;
    text-align: left;
    color: #fff;
}

.contact-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 30px;
}

.contact-form form input.form-control {
    border: none;
    background: none !important;
    border-bottom: 2px solid #ccc!important;
    color: #999;
    padding: 0 0 0 0;
    float: left;
    width: 100%;
    height: 40px;
    margin: 0 0 25px 0;
    font-size: 17px;
    width: 48%;
}

.contact-form form input.form-control:focus,
#message:focus {
    outline: none !important;
}

form#frm_contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#message {
    border: none;
    color: #999;
    border-bottom: 2px solid #ccc !important;
}

.submit-btn {
    background: #0856a2;
    height: 40px;
    padding: 0 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    cursor: pointer;
    width: 100%;
    margin-top: 21px;
    ;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.contact-col-1 {
    width: 30%;
}

.contact-col-1 h2 {
    font-weight: 800;
    font-size: 26px;
}

.contact-col-1 p {
    color: #94999e;
    line-height: 24px;
    padding-bottom: 10px;
}

.contact-col-1 a {
    color: #0856a2;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    text-decoration: none;
}

.contact-col-2 {
    width: 65%;
    text-align: left;
}

footer {
    width: 100%;
    height: auto;
    color: #fff;
    background-color: #000;
}

.footer-first-sec {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col {
    flex-wrap: wrap;
    margin-top: 23px;
}

.footer-col h4 {
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
}

.footer-col li {
    margin-top: 10px;
    color: #94999e;
}

.footer-col li a {
    margin-top: 10px;
    color: #94999e;
}

.line {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #94999e;
}

.footer-col a {
    text-decoration: none;
}

.copy-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 20px;
}

.copy-right-col-1 {
    width: 60%;
    color: #94999e;
}

.copy-right-col-2 {
    width: 40%;
    text-align: right;
}

.copy-right-col-2 a {
    color: #94999e;
    padding-right: 10px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

@media(max-width:1024px) {}

@media screen and (max-width:768px) {
    .header-wrap {
        display: flex;
        width: 100%;
        height: 35px;
        flex-flow: column wrap;
        align-content: center;
        box-sizing: border-box;
        padding: 6px;
        font-size: 18px;
    }
    .mobile-menu {
        display: block;
        position: absolute;
        z-index: 999;
        background: #fff;
        right: 15px;
        top: 40px;
    }
    .mobile-menu.active .bar {
        /* Transform bars into an X icon */
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .mobile-menu.active .bar:nth-child(2) {
        /* Hide the middle bar for the X icon effect */
        opacity: 0;
    }
    .mobile-menu.active .bar:last-child {
        /* Rotate the last bar for the X icon effect */
        transform: rotate(45deg) translate(-5px, -6px);
    }
    nav ul.show-menu {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100vh;
        background: #1f3797;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
    }
    nav ul li {
        list-style: none;
        display: inline-block;
        margin-left: 30px;
        margin-top: 30px;
    }
    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
    }
    .logo-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .nav-section {
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: right;
    }
    .image-container {
        flex-wrap: wrap;
    }
    .image-container img {
        margin-bottom: 10px;
    }
    .about-box-1,
    .about-box-2 {
        width: 100%;
    }
    .department-box {
        width: 100%;
    }
    .department-box img {
        width: 100%;
        height: auto;
    }
    .event-box-1 {
        width: 100%;
    }
    .event-calendar {
        height: auto;
    }
    .event-box-1 img {
        width: 100%;
        height: auto;
    }
    .event-box-2 {
        width: 100%;
        margin-top: 20px;
    }
    .event-box-2 p {
        font-size: 19px;
        margin-bottom: 20px;
    }
    .event-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
    }
    .contact-col-1 {
        width: 100%;
    }
    .contact-col-1 h2 {
        font-size: 37px;
    }
    .contact-col-1 a {
        font-size: 19px;
    }
    .contact-col-1 p {
        font-size: 19px;
    }
    .contact-col-2 {
        width: 100%;
        margin-top: 20px;
    }
    .footer-section {
        width: 100%;
    }
    .copy-right-col-1 {
        width: 100%;
        text-align: center;
    }
    .copy-right-col-1 p {
        font-size: 19px;
    }
    .footer-col ul {
        font-size: 19px;
    }
    .copy-right-col-2 {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .footer-col {
        width: 100%;
    }
    .col-1 {
        position: static;
        width: 100%;
        padding: 20px 0;
    }
    .col-2 {
        position: static;
    }
    .banner-content {
        width: 100%;
        padding-right: 0;
    }
    .banner-boxes .container {
        height: auto;
    }
    .banner-boxes {
        height: 350px;
        display: inline-block;
    }
    .announce-image {
        width: 100%;
        margin-top: 10px;
    }
    .announce-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .announce-image.middle {
        width: 100%;
    }
}

@media(max-width:414px) {}